h3{
	font-family: "微软雅黑";
}
.body{
	max-width: 1500px;
	min-width: 1247px;
	width: auto;
	margin: 0 auto;
	margin-top:50px ;
}
.main{
	float: left;
	max-width: 900px;
}
.carousel{
	margin-bottom: 10px;
}
.media:hover{
	box-shadow: 5px 5px 5px #E2E2E2;
}
.media{
	max-width: 900px;
}
.media img{
	max-width: 220px;
}

.side{
	float: right;
	width: 300px;
	height: 1000px;
	background-color: #269ABC;

}

@media only screen and (min-width: 100px) and (max-width: 768px) {
	.side{
		display: none;
	}
	.body{
		width: auto;
		min-width: 100px;
	}
	
}
@media only screen and (min-width:768px ) {
	 .carousel, .carousel-inner, .item{
		height: 300px;
		overflow: hidden;
	}
}
.titlebtn{
	width: 50px;
	height: 50px;
	text-align: center;
	
	
}
.titlebtn span{
	margin-top: 12px;
	font-size: 10px;
	
}
.navbar-right{
	margin-right: 10%;
}
