h3{
	font-family: "微软雅黑";
}
.body{
	max-width: 1500px;
	width: auto;
	margin: 0 auto;
	margin-top:50px ;
}
.main{
	float: left;
	max-width: 900px;
}
.carousel{
	margin-bottom: 10px;
}
.media:hover{
	box-shadow: 5px 5px 5px #E2E2E2;
}
.media{
	max-width: 900px;
}
.media img{
	max-width: 220px;
}

.side{
	float: right;
	width: 300px;
	height: 1000px;
	background-color: #269ABC;
}
